
@import "variables.scss";
@import "image.scss";

body{
	background-color: #efefef;
}

footer{
	background-color: $fontColor;
	padding: 10px 0;
	border-top: 3px solid $secondColor;
	.social_network{
		img{
			width: 50px;
			&:hover{
				opacity: 0.7;
			}
		}
	}
}

header{
	background-color: $fontColor;
	text-align: center;
	padding: 10px 0;
	div{
		color: lighten($fontColor, 70);
		font-size: 2em;
		span{
			color: $secondColor;
		}
	}
}

.menu{
	border-bottom: 1px solid $secondColor;
	background-color: #ffffff;
	margin: 0;
}

.content{
	padding: 50px 0;

	h1, h2{
		text-align: center;
		margin-bottom: 20px;
	}

	form{
		div{
			margin-top: 20px;
			&:last-child{
				text-align: center;
			}
		}
		select{
			height: 30px;
			border: none;
			border-bottom: 1px solid $thirdColor;
			color: $fontColor;
			margin-top: 50px;
		}
	}

	.right_section{
		display: none;
		div{
			margin: 50px 0;
			ul{
				padding-left: 10px;
			}
			h3{
				margin-bottom: 10px;
				text-align: center;
			}
		}
	}

	.right_section_pub{
		@extend .right_section;
		div {
			margin: 5px 0;
		}
	}

	section{
		background-color: #ffffff;
		border: 1px solid #d6d6d6;
	}

}

// .left_section_ingre div section div div{
// 	border: 1px solid #d6d6d6;
// 	&:hover{
// 		background: #d6d6d6;
// 	}
// 	img{
// 		height: 270px;
// 	}
// }

@media screen and (min-width: 70em){

	.content{
		.right_section{
			display: block;
		}
	}

}
